.course-viewer-wrapper {
  min-height: 100vh;
  background: #d41919;
  display: "flex";
}

.lesson-item:hover {
  background-color: #e6f0ff !important;
}

.lesson-item.active {
  border-left: 4px solid #007bff;
}

.video-wrapper {
  width: 100%;
  min-height: 300px;
  height: clamp(320px, 60dvh, 78dvh);

}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
}

/* Keep */
.user-modal {
  animation: fadeSlideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-15px);
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 425px) {
  .now-playing-heading {
    font-size: 1.15rem;
  }

  .now-playing-button {
    padding: 0.3rem 0.8rem;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .now-playing-heading {
    font-size: 1rem;
    /* Smaller heading */
  }

  .now-playing-button {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .video-wrapper {
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    aspect-ratio: 16 / 9 !important;
  }
}

@media (max-width: 425px) {
  .video-wrapper {
    aspect-ratio: 16 / 9 !important;
  }
}

@media (max-width: 768px) {
  .responsive-now-playing {
    height: 1000px !important;
  }
}

/* Hide vertical scrollbar while allowing scroll */
.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  /* display: none; */
  /* Chrome, Safari */
}



/* Modal container with transition */
.user-modal {
  animation: fadeSlideDown 0.5s ease forwards;
  opacity: 0;
  transform: translateY(-15px);
}


@media (max-width: 576px) {
  .user-modal {
    padding: 0.75rem !important;
  }

  .user-modal .rounded-circle {
    width: 60px !important;
    height: 60px !important;
  }

  .user-modal .user-name {
    font-size: 1rem !important;
  }

  .user-modal .user-details span {
    font-size: 0.75rem !important;
  }

  .user-modal .contact-btn {
    font-size: 0.7rem !important;
    padding: 2px 6px !important;
  }

  .user-modal .contact-number {
    font-size: 0.75rem !important;
  }
}

/*  */
/* Responsive container height */
/* PPT Viewer CSS */
#header-bar {
  display: none;
}

#react-doc-viewer {
  height: 100%;
  /* border: 1px solid red; */
}

#proxy-renderer {
  height: 100%;
}

#msdoc-renderer {
  width: 100%;
  height: 100%;
}

#pdf-renderer {
  height: 100%;
  overflow-y: auto;
}

/* RxCross2 Icon */
.crossIcon {
  display: inline-block;
  float: right;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
}